.lz-full 
  width 100% !important
  height 100% !important
  position fixed !important
  z-index 999 !important
  background white
  top 0
  left 0

.analysis
  display flex
  flex-wrap wrap
  > div
    width 50%
    height 70vh
    padding 1rem
    &:hover
      background #F5F5F5

    .lz-tool
      position absolute
      z-index 1
      top 10px
      right 10px
      display block

@media screen and (max-width: 800px) {
  .analysis > div {
    width: 100%;
    height: 100vh;

    .lz-tool {
      display: none;
    }
  }
}
