
.ant-layout-header
  color white

  .logo 
    width: 120px;
    height: 50px;
    border-radius: 6px;
    margin: 10px 24px 06px 0;
    float: left;

    img
      height 100%


.ant-layout-sider-collapsed
  .nav-text
    display none

  .ant-menu-submenu-vertical > .ant-menu-submenu-title:after
    display none