.lz-images {
  display: flex;
  flex-wrap: wrap;
}
.lz-images .lz-images-item {
  width: 300px;
  height: 200px;
  position: relative;
  background: #f5f5f5;
  margin: 10px;
}
.lz-images .lz-images-item img {
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  cursor: pointer;
}
.lz-images .lz-images-item p {
  position: absolute;
  z-index: 2;
  background: rgba(10,10,10,0.5);
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
.image-gallery-thumbnail-label {
  background-color: #000;
  color: #fff;
  background-color: #381e1e;
  font-size: 1em;
  height: 1em;
  text-shadow: 0 0 2px #f00;
}
