
paddingGrid = 1em
.lz-row
  margin-bottom 0.5em

.ant-row > div {
  background: transparent
  border: 0
}

.gutter-box {
  background rgb(236, 236, 236)
  padding: paddingGrid
}

.lz-value
  background #F5F5F5
  padding paddingGrid
