.lz-row {
  margin-bottom: 0.5em;
}
.ant-row > div {
  background: transparent;
  border: 0;
}
.gutter-box {
  background: #ececec;
  padding: 1em;
}
.lz-value {
  background: #f5f5f5;
  padding: 1em;
}
